<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    
    <head>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />

        <title>Password Check</title>

        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/custom-style.css}" rel="stylesheet"/>

    </head>
    
    <body>
        <div class="container">
            <div class="rounded border my-5">
                <div class="col-sm-12 input-group">
                    <input id="password" class="form-control my-3" type="text" placeholder="Senha"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text">0%</span>
                        <span id="status" class="input-group-text">Vazio</span>
                    </div>
                </div>
            </div>
        </div>
        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/main-script.js}"></script>
        
    </body>
</html>
